<style>
    .headerstyle{
        
        margin-bottom: 20px;
        font-size:18;
        font-weight:bolder;
        letter-spacing:20px;
        padding-top:5px;
     }
     .buttonstyle{
         width:100%;
         
     }
     .box{
         width:100vw;
         height:100vh;
         display:flex;
         background: #dff2f2;
     }
  
 </style>    
 <head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
     <title>Login</title>
     
     <script>
        $(document).ready(function(){
            var status='1'
            var pagelink='buyerdashboard'  
        $('.btnl').click(function(){
            
            $(".btnl").map((i,item)=>{
                if ($(this).attr('status')==$(item).attr('status'))
                {
                    $(this).css('background','#0984e3')
                    status=$(this).attr('status')           
                    pagelink=$(this).attr('pagelink') 
                }
                
                else{
                    $(item).css('background','#636e72')
                    
                }
            })
        })
        $('#login').click(function(){
            if(status==1) 
           { $.getJSON('/api/checkbuyerlogin',{mobile_no:$('#mobile_no').val(),password:$('#password').val()},
           function(data){
                   

            if(data.status)
            {
               window.location.href=`http://localhost:8000/api/buyerdashboard`
            }
            else
              {alert("Invalid Buyer  mobile_no/Password")}
   
           })
          
           }
           
           
           else if(status==2) 
           { $.getJSON('/api/checksellerlogin',{mobile_no:$('#mobile_no').val(),password:$('#password').val()},
           function(data){
                   

            if(data.status)
            {
               window.location.href=`http://localhost:8000/api/sellerdashboard`
            }
            else
              {alert("Invalid Seller mobile_no/Password")}
   
           })
          
           }
           
           
          
          })
           })
    </script>

 </head>




 <html>
 <body> 
 <div class="row box">
     <div class="col-md-6">
         <img src="/static/realestate.jpg" class="rounded float-start" style="width: 100%; height: 100vh;">
     </div>
     <div class="col-md-6" style="display: flex;  align-items: center; justify-content: center;">
         <div style="display:flex; align-items:center; justify-content:center; width:60vh; height=100vh;">
             
             <div class="row g-3">
                 
              
                 <div class="col-md-12 headerstyle">
                 
                     <img src="/static/login.png"  style="width:3vw">
                     <button type="button" class="btn btn-primary btnl" status="1" pagelink="buyerdashboard">Buyer</button>
                     <button type="button" class="btn btn-secondary btnl" status="2" pagelink="sellerdashboard">Seller</button>
     
                 
                 </div>
 
 
                 <div class="col-md-12">
                     <label for="mobile_no" class="form-label"><b>Mobile Number</b></label>
                     <input type="text" class="form-control" id="mobile_no" name="mobile_no">
                 </div>
 
                 <div class="col-md-12">
                     <label for="password" class="form-label"><b>Password</b></label>
                     <input type="password" class="form-control" id="password" name="password">
                 </div>
                 <div class="col-md-5" >
                 <button id="login" type="submit" class="btn btn-primary buttonstyle" style="display: flex; justify-content: center; align-items:center;"><b>Login</b></button>
                </div>
                <div class="col-md-2" ></div >
                 <div class="col-md-5">
                     <button id="register" type="submit" onclick="location.href='//localhost:8000/api/register' " class="btn btn-primary buttonstyle" style="display: flex; justify-content: center; align-items:center;"><b>Register</b></button>
                 </div>
 
                 <div class="col-md-12" style="display: flex; justify-content: center;padding:5px;font-size:16px; font-weight:bold;">
                     {{message}}
                 <div>
 
             </div>
        </div>
 
    </div>
  
 </div>
 </body> 
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
 </html>