<html>
    <center>
        <form action="http://localhost:8000/api/updatepropertyimage" method="post" enctype="multipart/form-data" class="row g-3"> {% csrf_token %}
        <input type="hidden" value="{{id}}" class="form-control" name="id">
        <h1>{{propertyname}}</h1>
        <img src="/{{image}}" width="200"><br>
        <b>Select New Image to Upload</b><br><br>
        <input type="file" required name="image"><br><br>
        <input type="Submit" value="Upload New Image"><br><br>
        </form>
    </center>
</html>
